<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581270806192-hb7rkbfbkgu6urv7ljffr9v1jkiuan9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581270806192-hb7rkbfbkgu6urv7ljffr9v1jkiuan9l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581270806192-h595f57r1skkj9kje2rd3j3qoteffe6f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbTPHIiyla22dJXrAUQAWmfzlkfljnnHU</string>
	<key>GCM_SENDER_ID</key>
	<string>581270806192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inclusive.outloud</string>
	<key>PROJECT_ID</key>
	<string>incl-9b378</string>
	<key>STORAGE_BUCKET</key>
	<string>incl-9b378.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581270806192:ios:3cc9f08819cef17d48e575</string>
	<key>DATABASE_URL</key>
	<string>https://incl-9b378.firebaseio.com</string>
</dict>
</plist>